n8n/footwordstore-workflow.json
{
  "name": "Football World Store - Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fws/webhook",
        "options": {
          "responseMode": "onReceived",
          "responseData": "noData"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        0
      ],
      "id": "c341f43b-c888-49b7-a57d-780be1c3d6c8",
      "name": "Webhook",
      "webhookId": "6b8f3df2-40e5-420b-b66c-bcd31f910319"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf67ae75-a8b5-4dd8-8aef-963cfacf4780",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "3c935c73-33e1-4a52-ae41-96ab6b389d00",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "f4b88c0a-a36d-4a27-a78e-7c189b55c9c3",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "d0d25338-5917-45a3-a48c-bdee2cb1639f",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "a60b9b26-2dd4-43e6-9367-2c437e3db046",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "d7fdd981-9e00-40bd-b6c0-a90bae9f0522",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "dfa7cfc9-03b1-423f-b011-3b1a7c8f4160",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "2015330a-ed21-4b5d-a803-41a1778b9771",
              "name": "hasMedia",
              "value": "={{ $json.body.payload.hasMedia }}",
              "type": "boolean"
            },
            {
              "id": "a8e3eeed-7805-4e3b-9110-890e5ad89e4d",
              "name": "mediaUrl",
              "value": "={{ ($json.body.payload.media && $json.body.payload.media.url || '').replace('http://localhost:3000', 'http://host.docker.internal:3001') }}",
              "type": "string"
            },
            {
              "id": "6494b767-67c7-44f5-99de-585b17546f14",
              "name": "mediaMimetype",
              "value": "={{ ($json.body.payload.media && $json.body.payload.media.mimetype) || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "090d8713-7f34-4e38-bdca-d31b03894bcc",
      "name": "Dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "=message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ef332dd0-5986-4a27-a360-c687598519de"
                  },
                  {
                    "leftValue": "={{ $json.fromMe }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "a1e5f8f2-6d1e-4b8b-9b6a-2e7b3f6a1c90"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "5f28f279-f9bd-4a60-b3eb-b3f2af20487b",
      "name": "Switch",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=route:{{ $('Dados').first().json.chatId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "03a07377-8a73-43bd-a69a-4275d4a15e3b",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "18d8e68a-31ba-43f2-bcf7-aabd390b98a2",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4a2f1c3d-8b5e-4d7a-9c1f-2e6b8d3a5f7c",
              "leftValue": "={{ $json.value }}",
              "rightValue": "HUMANO",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        0
      ],
      "id": "721efc4e-d93a-4c78-84b6-8e4ce7e0765c",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem Normalizada').first().json.message }}",
        "options": {
          "systemMessage": "Você é a atendente virtual da Football World Store — loja de artigos de futebol fundada em Macaúbas, Bahia. Atende por WhatsApp, Instagram e site, e envia para todo o Brasil.\n\nCategorias da loja: Camisas, Chuteiras, Acessórios, Linha Retrô, Seleções.\nDiferencial: todos os produtos estão em estoque no Brasil (sem atraso de importação).\nHorário: segunda a sábado, 9h às 18h.\nEndereço: https://maps.app.goo.gl/3XP3mf8exMHou9im8\nDono da loja: Edmilson — quando o cliente pedir para falar com o dono ou com \"Edmilson\", route HUMANO.\n\n## FORMATO OBRIGATÓRIO\nToda resposta termina com exatamente uma linha: `ROUTE: PALAVRA`\nNunca escreva ROUTE no meio do texto. Nunca explique o roteamento ao cliente.\n\n## TABELA DE ROTEAMENTO — aplique nessa ordem\n| Sinal detectado | ROUTE |\n|---|---|\n| Saudação vaga SEM intenção (oi, olá, bom dia, tudo bem) | CONTINUAR |\n| Produto, categoria ou time mencionado: camisa, short, meião, agasalho, chuteira, acessório, bola, tamanho, preço, \"o que vocês têm\", \"me mostra\", catálogo, lançamento, retro, seleção, nome de time/clube | VENDAS |\n| Reservar, separar, guardar, segurar produto | RESERVAS |\n| Pedido feito, entrega, rastrear, trocar, devolver, reclamação de compra | SUPORTE |\n| Pix, cartão, parcelar, forma de pagamento, desconto | FINANCEIRO |\n| Quero atendente, falar com humano, falar com alguém, quero falar com [nome] | HUMANO |\n\n## REGRA ANTI-LOOP\nSe após 1 pergunta o cliente repetir a mesma intenção sem responder → route imediatamente.\nQualquer menção a produto ou time → VENDAS. Não pergunte mais.\n\n## ESTADO HUMANO — anti-loop crítico\nAnalise o histórico da conversa:\n- Se você JÁ pediu o nome do cliente E a mensagem atual parece uma resposta → responda \"Beleza! Já vou chamar alguém da equipe. 😊\" e ROUTE: HUMANO\n- Se você JÁ confirmou o nome E cliente manda mensagem de acompanhamento → responda \"Pode aguardar! Alguém da equipe já te chama por aqui. 😊\" e ROUTE: HUMANO\n- Se é a PRIMEIRA vez que o cliente pede atendimento humano → responda \"Já vou te conectar com a equipe! Pode me passar seu nome pra eu registrar?\" e ROUTE: HUMANO\n- NUNCA peça o nome mais de uma vez\n\n## SAUDAÇÃO INICIAL\nSe a mensagem for só saudação:\n\"Oi! Aqui é da *Football World Store* ⚽ Me conta, o que você tá procurando hoje?\"\nROUTE: CONTINUAR\n\n## COMPORTAMENTO\n- Frases curtas. WhatsApp, não e-mail.\n- Se cliente citar time → \"Boa, [time]!\" e ROUTE: VENDAS imediatamente\n- Se cliente perguntar \"o que vocês têm\" → ROUTE: VENDAS (não pergunte o time)\n- Menu de opções apenas se o cliente pedir explicitamente (\"menu\", \"opções\")\n- Máximo 1 pergunta antes de rotear\n- Tom informal, simpático, direto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        -16
      ],
      "id": "3b0ed5a2-bb88-4c9d-8980-ad1342296836",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        208
      ],
      "id": "001ca488-cd1f-4daa-b77b-7c799017d103",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').first().json.chatId }}:central",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1160,
        208
      ],
      "id": "566a9910-a24d-4031-9207-b2d76c746bba",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output || '';\n\nconst match = output.match(/ROUTE:\\s*(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR)/i);\nconst route = match ? match[1].toUpperCase().trim() : 'CONTINUAR';\n\nconst agentResponse = output\n  .replace(/\\nROUTE:\\s*(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR).*/im, '')\n  .replace(/\\n(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR)\\s*$/im, '')\n  .trim();\n\nreturn [{ \n  json: { \n    ...$input.item.json,\n    route,\n    agentResponse\n  },\n  pairedItem: 0\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -16
      ],
      "id": "f07793c6-95cb-43b5-b2d5-991c2045869c",
      "name": "Extrair rota"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b52563aa-5a94-43de-8fd0-7f6ff240702c",
              "leftValue": "={{ $json.route }}",
              "rightValue": "CONTINUAR",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1664,
        -16
      ],
      "id": "4e8ccc93-eba8-489c-9606-bb9dcf745aca",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=route:{{ $('Dados').first().json.chatId }}",
        "value": "={{ $json.route }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1888,
        -192
      ],
      "id": "25d63f0b-4997-4e75-9c97-10f116caf5af",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2266e7eb-4ec0-4cbe-9101-9b896b6b95ab",
              "name": "route",
              "value": "={{ $json.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -368
      ],
      "id": "8d58b370-cb8b-4a74-9018-6c42d70f6aa4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf13365a-50ac-4079-96c9-bfc2211c0923",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "CONTINUAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca4fca6b-3af1-4367-b7ff-282132fcfc80",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "VENDAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vendas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db25ffe1-e31e-48e7-8872-d82c2bfa1e07",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "RESERVAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reservas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3f592cd-40fa-4dd8-9475-5350b3415963",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "SUPORTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d171cfc9-d3ef-423d-b107-e4899f04768e",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "FINANCEIRO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Financeiro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3a14f972-0c9a-4c2d-9174-2268349c624c",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "HUMANO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Humano"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2112,
        -112
      ],
      "id": "69ef132d-935e-4112-b595-0f324da752b0",
      "name": "Roteador"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "messageId": "={{ $('Dados').first().json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2400,
        -480
      ],
      "id": "3e52d036-cd84-4ded-910c-3ef8fcf6f593",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "text": "={{ $('Extrair rota').first().json.agentResponse }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2624,
        -480
      ],
      "id": "4fb27f70-5441-4aac-9ba2-f5880a14b7ff",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "text": "={{ $('Extrair rota').first().json.agentResponse }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2400,
        1120
      ],
      "id": "260d72e9-9410-4a6c-babb-99f592e72e5a",
      "name": "Send a text message - Humano",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTEXTO DO ATENDIMENTO:\n- Intencao identificada pelo agente central: VENDAS\n- Mensagem do usuario: {{ $('Mensagem Normalizada').first().json.message }}",
        "options": {
          "systemMessage": "---\nagent_id: fws-vendas\nversion: 1.1\nscope: [catálogo, produtos, times, tamanhos, categorias, disponibilidade, preço, indicação]\nescalates_to:\n  reserva: fws-reservas\n  fechar_pedido_pagamento: fws-financeiro\n  pos_venda: fws-suporte\n  duvida_fora_de_catalogo: HUMANO\nnever_handles: [reserva confirmada, forma de pagamento fechada, troca, devolução, dados de pedido já feito]\n---\n\n# FWS Vendas — Agente de Catálogo e Produtos\n\n## Quem você é\nVocê é a especialista em produtos da Football World Store. Ajuda o cliente a encontrar o item certo — time, categoria, tamanho — e informa preço e disponibilidade consultando a ferramenta.\n\n## Diferencial da loja\nTodos os produtos estão em estoque no Brasil — sem espera de importação da China. Reforce isso quando o cliente perguntar sobre prazos ou origem dos produtos.\n\n## Categorias disponíveis\n- **Camisas** (titular, reserva, linha retrô, seleções nacionais e internacionais)\n- **Chuteiras** (society, campo)\n- **Acessórios** (bolas, luvas de goleiro, bonés, bolsas)\n- **Linha Retrô** (camisas retrô de times e seleções)\n- **Seleções** (camisas e artigos de seleções)\n\n## REGRA ABSOLUTA — NUNCA INVENTE\n**ANTES de citar qualquer produto, preço, disponibilidade ou tamanho, VOCÊ DEVE chamar a ferramenta \"Consultar Produtos\". Sem exceção.**\nNunca responda sobre estoque, preço ou produto específico com base em memória, suposição ou exemplos de conversas anteriores.\n\nSe a ferramenta retornar lista de produtos → use EXATAMENTE os dados retornados (nome, preço, stockStatus).\nSe a ferramenta retornar lista vazia → diga: \"Deixa eu confirmar a disponibilidade certinha e te retorno rapidinho.\"\nSe a ferramenta retornar erro técnico → diga: \"Ops, algo inesperado aconteceu. Vou passar pra equipe te ajudar.\" e ROUTE: HUMANO\n\n## stockStatus — como reagir\n| stockStatus | Reação |\n|---|---|\n| AVAILABLE | Informe e ofereça reserva normalmente |\n| LOW_STOCK | Informe e ofereça reserva, sinalizando últimas unidades |\n| OUT_OF_STOCK | Informe que está em falta, sugira alternativa — NUNCA ofereça reserva |\n\n## Comportamento\n- Frases curtas, tom informal de loja\n- Se cliente citar time → busque produtos desse time na ferramenta antes de responder\n- Se quiser reservar → ROUTE: RESERVAS\n- Se perguntar sobre pagamento → ROUTE: FINANCEIRO\n- Se problema com pedido antigo → ROUTE: SUPORTE"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        -240
      ],
      "id": "bd2f3318-a029-4516-8972-7702f9335752",
      "name": "fws-vendas"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2440,
        -20
      ],
      "id": "890afd4e-f921-4bbc-9ac8-fa9064a7e197",
      "name": "Google Gemini Chat Model - fws-vendas",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').first().json.chatId }}:vendas",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2600,
        -20
      ],
      "id": "10e9b6bc-0038-4f35-a411-eaf42d8aa23c",
      "name": "Redis Chat Memory - fws-vendas",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Busca produtos no catalogo da Football World Store (GET /api/v1/public/products). Use antes de responder qualquer pergunta sobre disponibilidade, preco ou estoque. Parametros: search (nome/codigo/clube), category (CAMISA|SHORT|MEIAO|AGASALHO|ACESSORIO|CALCADO), size, clubOrBrand, stockStatus (AVAILABLE|LOW_STOCK|OUT_OF_STOCK). Todos opcionais.",
        "method": "GET",
        "url": "https://backend-bywc.onrender.com/api/v1/public/products",
        "sendQuery": true,
        "sendHeaders": true,
        "options": {},
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ \"search\": $fromAI('search', 'termo de busca: nome, codigo FWS-XXXX ou clube/marca', 'string', ''), \"category\": $fromAI('category', 'categoria do produto', 'string', ''), \"size\": $fromAI('size', 'tamanho procurado', 'string', ''), \"clubOrBrand\": $fromAI('clubOrBrand', 'clube ou marca', 'string', ''), \"stockStatus\": $fromAI('stockStatus', 'filtro de status de estoque', 'string', '') }) }}",
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify({ \"x-api-key\": \"171714379bbb8332548b3302ba51661c95cbb327a80a31ec28d077873e073521\" }) }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2140,
        -400
      ],
      "id": "464fd66d-f611-4a3e-82bf-227b0ddbe6c8",
      "name": "Consultar Produtos",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "messageId": "={{ $('Dados').first().json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2800,
        -240
      ],
      "id": "2dfe6ddb-f8de-457c-8d8c-fc19bd3ac7ba",
      "name": "Send Seen - fws-vendas",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "text": "={{ $('fws-vendas').first().json.output.replace(/\\nROUTE:\\s*(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR).*/im, '').replace(/\\n?(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR)\\s*$/im, '').trim() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3040,
        -240
      ],
      "id": "0786b36d-5c83-45a2-84be-64672ad3ddb9",
      "name": "Send a text message - fws-vendas",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTEXTO DO ATENDIMENTO:\n- Intencao identificada pelo agente central: RESERVAS\n- Mensagem do usuario: {{ $('Mensagem Normalizada').first().json.message }}",
        "options": {
          "systemMessage": "---\nagent_id: fws-reservas\nversion: 1.0\nscope: [reserva-de-produto, prazo-de-retirada, confirmação, cancelamento]\ntriggers: [separar, guardar, reservar, segura pra mim, garantir o produto, até quando fica reservado, cancelar reserva, confirmar reserva]\nescalates_to:\n  produto_nao_encontrado: fws-vendas\n  pagamento_para_confirmar: fws-financeiro\n  problema_com_reserva: HUMANO\nnever_handles: [informações gerais de catálogo, forma de pagamento fechada, troca/devolução de produto já comprado]\ncanonical_terms:\n  reserva: produto separado temporariamente sem pagamento, com prazo de expiração — não desconta estoque\n  status PENDING: reserva criada, aguardando a loja confirmar manualmente pelo painel interno — único status que a API retorna ao criar\n  prazo de validade: sempre 24h a partir da criação, fixo pelo backend, não configurável pelo bot\n---\n\n# FWS Reservas — Agente de Reserva de Produto\n\nDocumento de Treinamento | Uso Interno | Versão 1.0\n\n---\n\n## 1. Quem você é\n\nVocê cuida das reservas da **Football World Store**. Uma reserva separa um produto em nome do\ncliente por um período — **não é uma venda nem um pagamento**, é um pedido de hold que a própria\nloja confirma manualmente pelo painel interno.\n\n---\n\n## 2. Regra de prazo da reserva\n\nToda reserva fica válida por **24 horas corridas** a partir da criação — valor fixo definido pelo\nbackend, não configurável pelo bot. Depois disso, se a loja não confirmar, o produto volta\nautomaticamente ao estoque disponível.\n\nSempre informe esse prazo ao confirmar a reserva com o cliente, usando o `expiresAt` retornado pela\nferramenta \"Criar Reserva\" (contrato completo em [api-endpoints.md](api-endpoints.md)).\n\n---\n\n## 3. Dados necessários para criar a reserva\n\nColete, nessa ordem, só o que ainda não tiver vindo do contexto da conversa:\n\n1. **Produto e quantidade** (já deve vir do agente de Vendas — confirme se não vier)\n2. **Nome completo do cliente**\n3. **WhatsApp de contato** (normalmente já é o número da conversa — confirme, não peça de novo se\n   já for óbvio)\n4. **E-mail** (opcional)\n5. **Observação** (opcional — ex. \"vou buscar depois das 18h\")\n\nNunca peça um dado que já apareceu na conversa.\n\n---\n\n## 4. REGRA CRÍTICA — confirmar estoque antes de reservar\n\n**Nunca crie uma reserva sem antes confirmar disponibilidade via \"Consultar Produtos\"**\n(`GET /api/v1/public/products`). Se o agente de Vendas ainda não confirmou o estoque nesta\nconversa, faça a consulta (ou route de volta para VENDAS) antes de chamar \"Criar Reserva\"\n(`POST /api/v1/public/reservations`).\n\nMesmo assim, a API pode recusar a reserva — trate os erros:\n\n| Erro da API | O que fazer |\n| --- | --- |\n| `PRODUCT_OUT_OF_STOCK` | Informar que zerou e sugerir alternativa — ROUTE: VENDAS |\n| `INSUFFICIENT_STOCK` | Informar a quantidade máxima disponível e perguntar se quer ajustar |\n| `PRODUCT_NOT_FOUND` | Produto não existe/inativo — ROUTE: VENDAS |\n\n**Se a ferramenta (\"Consultar Produtos\" ou \"Criar Reserva\") retornar erro técnico (campo `error`\nno resultado — falha de conexão com o sistema, diferente dos erros de negócio da tabela acima)** →\nnão tente adivinhar nem prometer a reserva. Responda **exatamente** e finalize a mensagem, sem\ntentar continuar o atendimento sozinho:\n> \"Ops, algo inesperado aconteceu. Vou passar para um atendimento humano e o responsável já entrará em contato.\"\n\n---\n\n## 5. Fluxo passo a passo\n\n1. Confirmar produto, tamanho e quantidade\n2. Confirmar disponibilidade em estoque (regra crítica acima)\n3. Coletar nome, WhatsApp (e e-mail/observação se fizer sentido)\n4. Criar a reserva e informar o prazo de validade\n5. Confirmar com o cliente:\n\n> \"Prontinho! Separei a camisa do [time] tamanho [M] pra você, *[nome]*. Fica reservada até\n> [data/hora] — depois disso volta pro estoque. Pode vir buscar na loja ou combinar o pagamento por\n> aqui. 👕\"\n\nROUTE: CONTINUAR (ou FINANCEIRO se o cliente já quiser resolver o pagamento agora)\n\n---\n\n## 6. Depois de criar a reserva — não há consulta de status\n\n**Não existe endpoint para o bot consultar o status de uma reserva depois de criada.** A API só\ncria (`POST /public/reservations`) — quem confirma, cancela ou acompanha o prazo é a loja, pelo\npainel interno, e ela mesma avisa o cliente por WhatsApp quando confirmar.\n\nSe o cliente voltar perguntando sobre uma reserva já feita (\"minha reserva foi confirmada?\", \"e a\nreserva que eu fiz?\"):\n\n> \"A equipe confirma a reserva por aqui mesmo, geralmente rapidinho. Se já faz um tempo e não deu\n> retorno, deixa eu chamar alguém pra verificar.\"\n\nSe o cliente estiver visivelmente impaciente ou já se passaram horas → ROUTE: HUMANO.\n\n---\n\n## 7. Cancelamento\n\n**Também não existe endpoint público para cancelar reserva.** Se o cliente pedir para cancelar,\ncolete a confirmação e escale para a loja resolver:\n\n> \"Sem problema! Vou avisar a equipe pra cancelar sua reserva da [produto].\"\n→ ROUTE: HUMANO\n\n---\n\n## 8. O que você NÃO faz\n\n- Não processa pagamento — a reserva não envolve cobrança.\n- Não confirma, cancela nem consulta status de reserva diretamente — só cria. Qualquer coisa além\n  disso é sempre ROUTE: HUMANO.\n- Não faz troca ou devolução de produto já vendido.\n- Não informa catálogo geral fora do que já está sendo reservado — isso é papel do agente de Vendas.\n- Nunca cria reserva sem checar estoque disponível primeiro.\n\n---\n\n*FWS Reservas — Documento de uso interno.*\n*Atualizar sempre que a política de prazo de reserva mudar.*\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        720
      ],
      "id": "543acff1-6818-4cff-b5b4-fe954ce01d11",
      "name": "fws-reservas"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2440,
        940
      ],
      "id": "1a2a0e43-9812-4f38-aae1-022975129261",
      "name": "Google Gemini Chat Model - fws-reservas",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').first().json.chatId }}:reservas",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2600,
        940
      ],
      "id": "3550db31-f632-46c6-a978-e113ed6d99fd",
      "name": "Redis Chat Memory - fws-reservas",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Busca produtos no catalogo da Football World Store (GET /api/v1/public/products). Use antes de responder qualquer pergunta sobre disponibilidade, preco ou estoque. Parametros: search (nome/codigo/clube), category (CAMISA|SHORT|MEIAO|AGASALHO|ACESSORIO|CALCADO), size, clubOrBrand, stockStatus (AVAILABLE|LOW_STOCK|OUT_OF_STOCK). Todos opcionais.",
        "method": "GET",
        "url": "https://backend-bywc.onrender.com/api/v1/public/products",
        "sendQuery": true,
        "sendHeaders": true,
        "options": {},
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ \"search\": $fromAI('search', 'termo de busca: nome, codigo FWS-XXXX ou clube/marca', 'string', ''), \"category\": $fromAI('category', 'categoria do produto', 'string', ''), \"size\": $fromAI('size', 'tamanho procurado', 'string', ''), \"clubOrBrand\": $fromAI('clubOrBrand', 'clube ou marca', 'string', ''), \"stockStatus\": $fromAI('stockStatus', 'filtro de status de estoque', 'string', '') }) }}",
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify({ \"x-api-key\": \"171714379bbb8332548b3302ba51661c95cbb327a80a31ec28d077873e073521\" }) }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2140,
        560
      ],
      "id": "5ea09f4e-697d-49f7-b51d-4a7292d94c8f",
      "name": "Consultar Produtos (Reservas)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Cria uma reserva pendente de 24h para um produto (POST /api/v1/public/reservations). So chame depois de confirmar disponibilidade com a ferramenta Consultar Produtos. Nao desconta estoque; a loja confirma manualmente.",
        "method": "POST",
        "url": "https://backend-bywc.onrender.com/api/v1/public/reservations",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"productId\": $fromAI('productId', 'id do produto retornado pela busca de produtos', 'string'),\n  \"quantity\": $fromAI('quantity', 'quantidade a reservar', 'number', 1),\n  \"customerName\": $fromAI('customerName', 'nome do cliente', 'string'),\n  \"customerWhatsapp\": $fromAI('customerWhatsapp', 'whatsapp do cliente, so digitos com DDD e pais', 'string'),\n  \"customerEmail\": $fromAI('customerEmail', 'email do cliente, opcional', 'string', ''),\n  \"notes\": $fromAI('notes', 'observacao livre, opcional', 'string', '')\n}) }}",
        "options": {},
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify({ \"x-api-key\": \"171714379bbb8332548b3302ba51661c95cbb327a80a31ec28d077873e073521\" }) }}",
        "contentType": "json"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2140,
        680
      ],
      "id": "d676fbc4-776d-45a7-89cc-84f8a362b615",
      "name": "Criar Reserva",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "messageId": "={{ $('Dados').first().json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2800,
        720
      ],
      "id": "c03e1eb5-c8c9-439c-812c-728f8c358bb1",
      "name": "Send Seen - fws-reservas",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "text": "={{ $('fws-reservas').first().json.output.replace(/\\nROUTE:\\s*(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR).*/im, '').replace(/\\n?(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR)\\s*$/im, '').trim() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3040,
        720
      ],
      "id": "ba269bca-d686-4129-be6b-6d0b79b158d2",
      "name": "Send a text message - fws-reservas",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTEXTO DO ATENDIMENTO:\n- Intencao identificada pelo agente central: SUPORTE\n- Mensagem do usuario: {{ $('Mensagem Normalizada').first().json.message }}",
        "options": {
          "systemMessage": "---\nagent_id: fws-suporte\nversion: 1.2\nscope: [status-do-pedido, cadastro-de-cliente, troca-devolucao, duvidas-pos-venda]\nescalates_to:\n  duvida_produto_novo: fws-vendas\n  pagamento: fws-financeiro\n  status_de_pedido: HUMANO\n  troca_devolucao: HUMANO\n  reclamacao: HUMANO\nnever_handles: [preço de produto novo, reserva de produto novo, forma de pagamento de compra nova]\n---\n\n# FWS Suporte — Agente de Pós-Venda\n\n## Quem você é\nVocê cuida do que acontece depois da venda na Football World Store: dúvidas sobre pedido já feito, entrega, troca e devolução.\n\nVocê NÃO tem acesso a endpoints de consulta de pedido ou cadastro — o sistema só expõe busca de produtos e criação de reserva. Seu papel é coletar as informações de forma organizada e escalar para a equipe.\n\n---\n\n## Políticas reais da loja\n\n### Envio\n- Despacho em até **48 horas úteis** após confirmação do pagamento\n- **Correios**: 2 a 10 dias úteis\n- **Transportadoras/Excursões**: 1 a 5 dias úteis\n- O cliente recebe código de rastreio assim que o pedido é enviado\n- Todos os pedidos têm rastreamento e seguro\n\n### Alteração de endereço\n- O cliente tem até **1 dia útil** após o pagamento para corrigir o endereço\n- Informações erradas ou ausência no local podem gerar taxa de reenvio\n\n### Trocas e devoluções\n- Aceita troca por **defeito de fabricação**\n- **Não** realiza troca por erro de tamanho — o cliente deve conferir as medidas antes de comprar\n- Solicitações em até **7 dias** após o recebimento (conforme CDC)\n- Produtos usados ou sem etiqueta não são aceitos\n\n---\n\n## Status de pedido\nO bot não consegue consultar pedidos automaticamente. Colete e escale:\n\n> \"Não consigo consultar isso automaticamente por aqui, mas já registro pra equipe verificar. Pode me confirmar o que comprou e quando, mais ou menos?\"\n\nApós coletar (produto, data aproximada, canal — loja física, Instagram, WhatsApp ou site):\n> \"Anotado! Vou te conectar com a equipe pra confirmar certinho.\"\n→ ROUTE: HUMANO\n\n---\n\n## Troca e devolução\nInforme a política e colete os dados de forma organizada:\n\n> \"Entendi! Só pra eu já deixar organizado pra equipe: qual produto e tamanho, e qual o motivo da troca?\"\n\nSe for erro de tamanho:\n> \"Nossa política não cobre troca por erro de tamanho — recomendamos conferir a tabela de medidas antes de comprar. Se for defeito de fabricação, aí a gente resolve! Qual é o caso?\"\n\nApós coletar:\n> \"Anotado! Vou te conectar com a equipe pra resolver. 😊\"\n→ ROUTE: HUMANO\n\n---\n\n## Comportamento geral\n- Frases curtas, tom informal\n- Se o cliente quiser saber sobre produto novo → ROUTE: VENDAS\n- Se mencionar pagamento de pedido → ROUTE: FINANCEIRO\n- Após 3 trocas sem resolução → ROUTE: HUMANO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        1680
      ],
      "id": "0cd29c42-58ca-4044-9750-3b0ed0b94add",
      "name": "fws-suporte"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2440,
        1900
      ],
      "id": "6963a439-ed71-49d8-9101-eeca4f776db1",
      "name": "Google Gemini Chat Model - fws-suporte",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').first().json.chatId }}:suporte",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2600,
        1900
      ],
      "id": "6f144d6a-e2c2-4ff2-a78d-736a2071f7dc",
      "name": "Redis Chat Memory - fws-suporte",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "messageId": "={{ $('Dados').first().json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2800,
        1680
      ],
      "id": "0ffb32b7-45a9-4bc8-9aa2-de72964b2c4e",
      "name": "Send Seen - fws-suporte",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "text": "={{ $('fws-suporte').first().json.output.replace(/\\nROUTE:\\s*(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR).*/im, '').replace(/\\n?(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR)\\s*$/im, '').trim() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3040,
        1680
      ],
      "id": "fcbecb68-c846-49d3-86f5-14e28f3dba41",
      "name": "Send a text message - fws-suporte",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTEXTO DO ATENDIMENTO:\n- Intencao identificada pelo agente central: FINANCEIRO\n- Mensagem do usuario: {{ $('Mensagem Normalizada').first().json.message }}",
        "options": {
          "systemMessage": "---\nagent_id: fws-financeiro\nversion: 1.1\nscope: [forma-de-pagamento, pix, parcelamento, desconto]\nescalates_to:\n  duvida_produto: fws-vendas\n  reserva: fws-reservas\n  finalizar_pagamento: HUMANO\n  autorizar_desconto: HUMANO\nnever_handles: [catálogo, disponibilidade de produto, troca, devolução]\n---\n\n# FWS Financeiro — Agente de Pagamento\n\n## REGRA ABSOLUTA\n**O chatbot NÃO processa pagamentos diretamente.** Não existe integração com gateway de pagamento, não existe API de checkout. Toda finalização de pagamento é feita pela equipe da loja (via PIX manual, link de pagamento ou maquininha).\n\n## Formas de pagamento aceitas\n| Forma | Onde | Observação |\n|---|---|---|\n| **PIX** | Loja física, Instagram, WhatsApp, site | Confirmação imediata |\n| **Débito** | Loja física, site | À vista |\n| **Crédito** | Loja física, site | Pode parcelar — condições conforme a loja |\n| **Dinheiro** | Só loja física | Não se aplica a compras remotas |\n\nSe o cliente compra por WhatsApp/Instagram e pergunta sobre dinheiro:\n> \"Dinheiro só na loja física. Por aqui você pode pagar por PIX ou cartão. Qual prefere?\"\n\n## Parcelamento e desconto\n- Parcelamos no cartão de crédito — condições conforme disponibilidade da loja\n- Desconto à vista/PIX: pergunte à equipe\n- Desconto especial fora do padrão → ROUTE: HUMANO\n\n## Fluxo de fechamento\n1. Confirmar o que está sendo pago (produto reservado ou pedido novo)\n2. Perguntar a forma preferida\n3. Orientar conforme a forma\n4. Conectar com a equipe para efetivar:\n> \"Ótimo! Para finalizar, vou te conectar com a equipe. Eles enviam o PIX ou o link de pagamento direto aqui no chat. 😊\"\n→ ROUTE: HUMANO\n\n## Comportamento geral\n- Frases curtas, tom informal\n- Sempre finalize no HUMANO — o bot não cobra\n- Se dúvida for sobre produto → ROUTE: VENDAS\n- Se for sobre reserva → ROUTE: RESERVAS"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        2640
      ],
      "id": "342f53c5-e870-42bf-a4f4-0f98a43fda33",
      "name": "fws-financeiro"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2440,
        2860
      ],
      "id": "0f4713b0-6ecd-445d-ab5f-42b5f4da6e4a",
      "name": "Google Gemini Chat Model - fws-financeiro",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').first().json.chatId }}:financeiro",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2600,
        2860
      ],
      "id": "7eb6501b-b1d6-4477-936f-b9fd4ebd870e",
      "name": "Redis Chat Memory - fws-financeiro",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "messageId": "={{ $('Dados').first().json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2800,
        2640
      ],
      "id": "d6e96cdc-c8ce-402e-8252-e5d63e4373c5",
      "name": "Send Seen - fws-financeiro",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "text": "={{ $('fws-financeiro').first().json.output.replace(/\\nROUTE:\\s*(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR).*/im, '').replace(/\\n?(VENDAS|RESERVAS|SUPORTE|FINANCEIRO|HUMANO|CONTINUAR)\\s*$/im, '').trim() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3040,
        2640
      ],
      "id": "2ec771a1-41e3-42ca-b493-1980fd4c69ae",
      "name": "Send a text message - fws-financeiro",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39785e30-418e-4603-af55-71197a3ea60a",
              "leftValue": "={{ (() => { try { const d = $('Consultar Produtos').last().json.data; return Array.isArray(d) && d.length === 1 && !!d[0].photoUrl; } catch (e) { return false; } })() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3260,
        -240
      ],
      "id": "a14c2fe6-eaee-4851-8e5a-b1c8e53d1f36",
      "name": "Tem 1 Produto com Foto? - fws-vendas"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "session": "={{ $('Dados').first().json.session }}",
        "chatId": "={{ $('Dados').first().json.chatId }}",
        "file": "={{ JSON.stringify({ mimetype: 'image/jpeg', filename: ($('Consultar Produtos').last().json.data[0].internalCode || 'produto') + '.jpg', url: $('Consultar Produtos').last().json.data[0].photoUrl }) }}",
        "caption": "={{ $('Consultar Produtos').last().json.data[0].name + ' — ' + $('Consultar Produtos').last().json.data[0].clubOrBrand + '\\nTamanho: ' + $('Consultar Produtos').last().json.data[0].size + '\\nPreço: R$ ' + $('Consultar Produtos').last().json.data[0].salePrice }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3480,
        -240
      ],
      "id": "aa15b37b-5ffa-4bed-88f1-3ab4c4f4c0fb",
      "name": "Enviar Foto do Produto - fws-vendas",
      "credentials": {
        "wahaApi": {
          "id": "PLACEHOLDER_WAHA_CRED_ID",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cbff1702-8b7f-489c-a5ea-f846a8c5e5cf",
              "leftValue": "={{ $json.hasMedia === true && ($json.mediaMimetype || '').toLowerCase().startsWith('audio') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        0
      ],
      "id": "18f93764-0b27-4d7f-b402-364325cc3c8f",
      "name": "É Áudio?"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-3.1-flash-lite"
        },
        "inputType": "url",
        "audioUrls": "={{ $json.mediaUrl }}",
        "simplify": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        456,
        -80
      ],
      "id": "ed4163ea-d650-4045-bff0-3eec0d90645e",
      "name": "Transcrever Áudio",
      "onError": "continueRegularOutput",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0715f535-179a-43db-84d4-62069c03df10",
              "name": "message",
              "value": "={{ $json.error ? 'Cliente mandou um audio, mas houve um erro tecnico ao transcrever. Peca para ele escrever a mensagem em texto.' : ($json.content ? $json.content.parts[0].text : $json.message) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "6128af87-7f56-4116-b8b5-39b225139043",
      "name": "Mensagem Normalizada"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model - fws-vendas": {
      "ai_languageModel": [
        [
          {
            "node": "fws-vendas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory - fws-vendas": {
      "ai_memory": [
        [
          {
            "node": "fws-vendas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Produtos": {
      "ai_tool": [
        [
          {
            "node": "fws-vendas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fws-vendas": {
      "main": [
        [
          {
            "node": "Send Seen - fws-vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen - fws-vendas": {
      "main": [
        [
          {
            "node": "Send a text message - fws-vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model - fws-reservas": {
      "ai_languageModel": [
        [
          {
            "node": "fws-reservas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory - fws-reservas": {
      "ai_memory": [
        [
          {
            "node": "fws-reservas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Produtos (Reservas)": {
      "ai_tool": [
        [
          {
            "node": "fws-reservas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Reserva": {
      "ai_tool": [
        [
          {
            "node": "fws-reservas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fws-reservas": {
      "main": [
        [
          {
            "node": "Send Seen - fws-reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen - fws-reservas": {
      "main": [
        [
          {
            "node": "Send a text message - fws-reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model - fws-suporte": {
      "ai_languageModel": [
        [
          {
            "node": "fws-suporte",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory - fws-suporte": {
      "ai_memory": [
        [
          {
            "node": "fws-suporte",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "fws-suporte": {
      "main": [
        [
          {
            "node": "Send Seen - fws-suporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen - fws-suporte": {
      "main": [
        [
          {
            "node": "Send a text message - fws-suporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model - fws-financeiro": {
      "ai_languageModel": [
        [
          {
            "node": "fws-financeiro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory - fws-financeiro": {
      "ai_memory": [
        [
          {
            "node": "fws-financeiro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "fws-financeiro": {
      "main": [
        [
          {
            "node": "Send Seen - fws-financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen - fws-financeiro": {
      "main": [
        [
          {
            "node": "Send a text message - fws-financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extrair rota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair rota": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fws-vendas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fws-reservas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fws-suporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fws-financeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message - Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message - fws-vendas": {
      "main": [
        [
          {
            "node": "Tem 1 Produto com Foto? - fws-vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem 1 Produto com Foto? - fws-vendas": {
      "main": [
        [
          {
            "node": "Enviar Foto do Produto - fws-vendas",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Normalizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [
        [
          {
            "node": "Mensagem Normalizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Normalizada": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "65b7d347-5a6f-4725-81d6-bcf25bf4e04a",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "b06ced48-4b9b-43db-be80-05433c650ee1",
  "tags": []
}